{% extends "base.html" %}
{% block title %}Все публикации{% endblock title %}
{% block content %}
  <div class="posts">
    {% for post in post_list %}
      <div class="post">
        <h1>Название: {{ post.title }}</h1>
        <p>{{ post.content }}</p>
        <p>Написал: {{ post.author }}</p>
        <p>Категория: {{ post.category }}</p>
        <p>Создан: {{ post.created_at }}</p>
        <p>Обновлён: {{ post.updated_at }}</p>
      </div>
    {% empty %}
    <h3>Публикации отсутствуют.</h3>
    {% endfor %}
  </div>
{% endblock content %}
